.main-div{
    padding-top: 3rem;
}

nav{
 
   background-color: rgb(26, 33, 39);
}
nav a{
    text-transform: uppercase;
    color: white;
}
.jumbotron{
    background-color: rgb(246, 250, 246);
}
.title{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.infoBox{
    font-size: 12px;
    font-weight: bold;
}
.infoBox i{
    font-size: 5px;
}
.actionButtonsBox{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.actionButtonsBox button{
   margin-right:.5rem;
}
.RecommendtionsSection img{
    cursor: pointer;
}
.SimilarMoviesSection img{
    cursor: pointer;
}
