<div class="main-div">
  <div class="jumbotron jumbotron-fluid">
    <div class="jumbotronContent p-5">
      <h2>Welcome.</h2>
      <h5>Millions of movies, TV shows and people to discover. Explore now.</h5>
    </div>
  </div>


  <div class="container-fluid my-5">
    <span class="title">What's Popular</span>
    <div class="d-flex flex-row flex-nowrap overflow-auto ">
      <div *ngFor="let item of listOfPopularMovies">
        <div class="card card-block m-2 movieCard"  *ngIf="item.poster_path != null && item.title != null" >
          <a (click)="showMovieDetails(item)"><img class="img-fluid rounded-top"
              src="https://image.tmdb.org/t/p/original/{{item.poster_path}}"></a>
          <p>{{item?.title}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid my-5">
    <div>
      <span class="title">Trending </span>
      <span class="badge badge-pill badge-info px-3 py-2">Today</span>
    </div>
    <div class="d-flex flex-row flex-nowrap overflow-auto ">
      <div *ngFor="let item of listOfTrendingMovies">
      <div class="card card-block m-2 movieCard"  *ngIf="item.poster_path != null && item.title != null" >
        <a (click)="showMovieDetails(item)"><img class="img-fluid rounded-top"
            src="https://image.tmdb.org/t/p/original/{{item.poster_path}}"></a>
        <p>{{item?.title}}</p>
      </div>
      </div>
    </div>

  </div>

</div>