.main-div{
 padding-top: 4rem;
}
.jumbotron{
    background-image:  url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg');
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;   
}
.jumbotronContent h2{
    color: white;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
}
.jumbotronContent h5{
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin: 0;

}
/* width */
::-webkit-scrollbar {
    width: 5px !important;
    border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(3, 37, 65);; 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 37, 65);
    border-radius: 10px; 
}
.movieCard{
 cursor: pointer;
 min-width: 200px;
 font-size:13px;
 color: rgb(3, 37, 65);
 text-align: center;
}
.title{
    font-size: 2rem;
}