.main-div{
    margin-top: 6rem;
}
.MovieCard{
    color: rgb(26, 33, 39);
    font-weight: bold;
    text-align: center;
}
.MovieCard img{
    cursor: pointer;
    // box-shadow: 0 4px 8px 0 rgba(126, 125, 125, 0.2), 0 6px 20px 0 rgba(231, 229, 229, 0.19);
}
